/* ------- Tabs ------- */
.tabs {
  border: $app-border;
  border-radius: $app-border-radius;
}

.tabs-nav {
  padding: .5rem 1rem;
  border-bottom: $app-border;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 1rem;
  list-style-type: none;
  display: flex;

  li {
    margin-right: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;

    &:last-child { margin-right: 0; }

    &.active {
      cursor: default;
      color: $primary-color;
    }

  }

}

.tabs-content {
  @extend %flex-cV-cH;
  padding: .5rem 1rem;
  height: 75px;

   .icon {
     &.square,
     &.circle  { background: $primary-color; }

     &.triangle { border-bottom-color: $primary-color; }

     &.plus {
       transform: translateX(-10px);
       background: $primary-color;
       &:after { background: $primary-color; }
      }
   }

}
